<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="/static/Css/createBlog.css">
    <title>My App</title>
</head>
<body>
<nav class="navbar">
    <h1>My App</h1>
    <ul class="nav-links">
        <li><a href="" th:href="@{/home}"><button class="button">Home</button></a></li>
    </ul>
</nav>


<!-- Popup -->
<!--<div th:if="${param.success}" class="popup">-->
<!--    <div class="alert alert-info">Your Feedback is been recorded.</div>-->
<!--</div>-->


<!-- form -->
<div class="booking-form">
    <h1>Create Blog</h1>
    <hr>
    <form th:action="@{/feedback}" method="post" th:object="${feedback}">
        <div class="form-group">
            <label class="control-label" for="author">
                Author </label>
            <input id="author" class="form-control" th:field="*{author}" required readonly="readonly"
                   autofocus="autofocus" />
        </div>
        <div class="form-group">
            <label class="control-label" for="email">
                Email </label>
            <input id="email" class="form-control" th:field="*{emailId}" required readonly="readonly"
                   autofocus="autofocus" />
        </div>
        <div class="form-group">
            <label class="control-label" for="rating">
                Title </label>
            <input id="Title" class="form-control" th:field="*{title}" required autofocus="autofocus" />
        </div>
        <div class="form-group">
            <label class="control-label" for="rating">
                Topic </label>
            <input id="rating" class="form-control" th:field="*{topic}" required autofocus="autofocus" />
        </div>
        <div class="form-group">
            <label class="control-label" for="content">
                Comment </label>
            <textarea id="content" class="form-control" th:field="*{content}" required
                      autofocus="autofocus"></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="button"> Submit </button>
        </div>

    </form>
</div>

</body>

</html>